@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}



html{
    scroll-behavior: smooth;
}

:root{
    --white-clr: #fff;
    --black-clr: #000;
    --light-black:#333;
    --primary-clr: #e6303d;
    --secondary-clr: #eee;
    --tag-clr: #7cc576;

}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    color:var( --primary-clr) ;
}
img{
    weight: 100%;
    height: 100%;
    display: block;
    transition: transform .3s ease-in-out;
}

.flex{
    display: flex;
    align-items: center;
}
.container{
    max-width: 80%;
    margin: auto;
}
.secondary-bg{
    background:var(--secondary-clr);
    padding-block: 2.2rem;
}

header{
    background: var(--white-clr);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0px 5px 14.25px .75px red ;
}
.logo{
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--light-black);  
}

span{
    color: var(--primary-clr);
}


 link{
    font-size: .95rem;
    color: var(--light-black);
    text-transform: uppercase;
    font-weight: 500;
 }
 .icon{
    font-size: .9rem;
    color: var(--light-black);
    background: var(--secondary-clr);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
 }
  .icon:hover,
  .icon-active{
    background: var(--secondary-clr);
  }


 span,
 .link-active,
 .icon-active{
    color: var(--primary-clr);
}

.navbar{
    height: 12vh;
    justify-content: space-between;
}
.navlist{
    gap: 2.5rem;
}
.nav-icon{
    gap: .8rem;
}

.hamburger{
    font-size: 1.7rem;
    color: var(--primary-clr);
    display: none;
}


.hero{
    height: 115vh;
    background-image: url("hero-image.jpg");
    
    background-position: center;
    background-size: cover ;
    background-repeat:  no-repeat;
    margin-top: 5.5rem;
}

.hero-content{
    height: 100%;
    justify-content: flex-end;

}

h3{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.7rem;
    color: var(--light-black);
}
h1{
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 600;
    color: var(--light-black);

}
h4{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 3.5rem;
    margin-bottom: 4.5rem;

}
button{
    font-weight: 600;
    font-size: .9rem;
    padding: .8rem 2.2rem;
    text-transform: uppercase;
    color: var(--white-clr);
    border: none;
    background: var(--primary-clr);
    transition: all .3s ease-in-out;


}

button:hover{
    background: var(--light-black);

}   
.category-container{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.7rem;
}
.category:nth-child(1),
.category:nth-child(4){
    grid-row: 1 / 3;
}
.category:nth-child(2){
    grid-row: 1 / 2;
}
.category{
    position: relative;
    overflow: hidden;
}
.category button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    background: var(--white-clr);
    color: var(--light-black);
    z-index: 3;
}
.category button:hover{
    background: var(--primary-clr);
    color: var(--white-clr);
}

.category:hover img{
    transform: scale(1.1);
}

.category::before{
    content: '';
    position: absolute;
    background: var(--white-clr);
    width: 0;
    height: 100;
    opacity: .2;
    transition:  all .3 ease-in-out;
}

.category:hover ::before{
    width: 100%;
}

h2{
    font-size: 1.4rem;
    line-height: 4rem;
    color: var(--light-black);
    text-align: center;
}
.line{
    background: var(--primary-clr);
    width: 60px;
    height: 2.5px;
    margin: auto;
}
.card-container{
   
    justify-content: center;
    margin-top: 3rem;
    text-align: center;
}


.card{
    border-right: 1px solid #efefef;
    flex: 1;
    padding-block: 3.1rem;
    margin-bottom: 2rem;
    transition: all .3s ease-in-out;

}
 .card:hover{
    box-shadow:
    0px 5px 19px rgba(36 , 11, 12, .15);
    z-index: 3;

 }
 .card-container{
    padding: 0 3rem;

 }
  .title{
    font-size: 1rem;
    color: var(--light-black);
    line-height: 1.7rem;
    font-weight: 500;
  }

  .price{
    margin-top: 1rem;
  }
  del{
    color: #c5c5c5;

  }
  .amount{
    font-size: 1.1rem;
    font-weight: 600;

  }

  .add-to-cart{
     position: center;
     left: 0;
     right: 0;
     top: 100%;
     transform: translateY(10px);
     opacity: 0;
     visibility: hidden;
     transition: .3s ease-in-out;
     

  }


  .sale::before,
  .new::before{
  
    position: absolute;
    top: 20px;
    left:20px;
    padding: .2rem 1.3rem;
    color: var(--white-clr);
    font-weight: 300 ;

  }

   .new::before{
    content: 'new';
    background: var(--tag-clr);

   }

   .sale-container{
    background-image: url("sale-image.jpg");
    padding-block: 4rem ;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
   .sale-container h3{
    font-weight: 200;
    font-size: 1.56rem;
    line-height: 1.6rem;
    text-transform: lowercase;
   }
   .sale-container h4{
    font-size: 1.4rem;
    color: #6e6e66;
    line-height: 3.5rem;
   }
   .box{
    flex: 1;
    text-align: center;
    margin-block: 1rem;

   }
   .box .fa-slid{
    font: size 1rem; 
    color: var(--primary-clr);
    
   }
   h5 a{
    font-size: 1.1rem;
    color: var(--light-black);
    font-weight: 500;
    line-height: 2rem;


   }
   .des{
    color: #6e6e6e;
    font-size: .9rem;
    font-weight: 400;
}
.blog-container{
    
    margin-top: 3rem;
    gap: 2rem;
}

.blog-box{
    flex: 1;
}
.blog-box::before{
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, .8);
    top: 0;
    width: 0;
    height: 0;
    z-index: 3;
    transition: all .3s ease-in-out;
}
.blog-box:hover::before{
    width: 100%;
}

.blog-content{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 4;
    padding-inline: 2rem;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out ;
}
.heading{
    font-size: 1.7rem;
    line-height: 4rem;
    font-weight: 500;

}
.blog-content *{
    color: var(--secondary-clr);
}

.blog-link{
    font-size: .9rem;
    font-weight: 500;
    line-height: 5rem;
    color: var(--primary-clr);
    text-decoration: underline;
    text-underline-offset: 5px;
    text-transform: uppercase;


}
.blog-box:hover .blog-content{
    left:50%
    opacity: 1;
    visibility: visible;
}
form{
    gap: 3rem;
}

form h3{
    font-size: 1.4rem;

}
.input-container{
    flex: 1;
    align-items: stretch;
}
#email{
    border: none;
    flex: 1;
    font-size: 1rem;
    padding-left: 1.1rem;

}
 #email:focus{
    outline: none;
 }
 .social-icons{
    gap: 1.2rem;
    justify-content: flex-end;;

 }
 .media{
    font-size: 1.2rem;
    color: var(--light-black);
 }

 .footer-list{
    flex: 1;
    padding-block: 1;
 }
 .footer-link{
    font-size: .9rem;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--light-black);
    line-height: 2.25rem;

 }
 .footer-logo{
    margin-bottom: 1rem;

 }
 .detail{
    font-size: .95rem;
    line-height: 1.75rem;
    color: #6e6e6e;
 }
